h1{
    font-size: 24x;
    font-style: italic  
   }
   
   h1{
       
           color: blue;  
   }
   
   h2{
       font-size: 20x;
       
           color: #0000ff;     
   }
   
   h3{
       font-size: 16x;
       color: teal;  
   }
   
   p{
       background-image: url('img_girl.jpg');
       color: #4D4D4D;  
   }
   
   p1{
    font-weight: bold;
   }
   
   a{
       color: #8A2BE2;
       text-decoration: none;
   }
   
   head{
width: 10px;
height: 10px;
   }


   
   